.main {
  height: 100px;
  background: royalblue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-family: cursive;
  margin-bottom: 1px;
}
