.main {
  margin-bottom: 1px;
  background: skyblue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  font-size: 2rem;
  font-family: cursive;
}
